<launch>

    <node pkg="ypspur_ros" name="ypspur_ros" type="ypspur_ros" respawn="true" output="screen">
        <remap from="/ypspur_ros/cmd_vel" to="/cmd_vel"/>
        <remap from="/ypspur_ros/odom" to="/odom"/>
        <param name="param_file" value="/home/$(env USER)/researches/programs/platform/yp-robot-params/robot-params/speego.param"/>
        <param name="port" value="/dev/serial/by-id/usb-T-frog_project_T-frog_Driver-if00"/>
    </node>

    <node pkg="urg_node" name="urg_node" type="urg_node" required="true">
        <param name="serial_port" value="/dev/serial/by-id/usb-Hokuyo_Data_Flex_for_USB_URG-Series_USB_Driver-if00" />
        <remap from="scan" to="scan"/>
    </node>

</launch>